*{
 padding: 0;
 margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
   width: 100%;
   height: 100%;
}
@media screen and (min-width:414px) and (max-width:768px)
{
  .navbar { 
    margin-top: 5px;
    top: 0px;
    position: fixed;
    z-index: 10;
  }
  .navbar:first-child{
   margin-left: 5px;
  }
  .navbar a{
    text-decoration: none;
    font-size: 3vw;
    color: black;
    margin-right: 35px;
    font-weight: bold;   
  }
  .navbar a:hover{
    color: #0078aa;
  }
  .navbar .link{
    display: flex;
  }
  .header-logo{
    margin-left: 50%;
  }
  .header{
    margin-top: 50px; 
  }
  .header-img {
    background: url(../img/lady.jpg) no-repeat center; 
    height: 550px;
  }
  .title{
    padding-top: 200px;
  }
  .title p{
    margin-left: 20px;
    color: black;
    font-size: 6vw;
    font-weight: bold;
  }
  .title span{
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    width: 50vw;
    display: block;
    color: #a299b2;
  }
  .header-buttons {
    display: flex;
    margin-left: 20px;
    margin-top: -130px;
  }
  .icon,
.arrow_right{
  padding: 5px;
  width: 30px;
  height: 30px;
  position: relative;
  top:5px;
  left: 5px;
}
.div_icon,
.arrow_up_div{
  color: white;
  width: 50px;
  height: 50px;
  background-color: #0078aa;
  border-radius: 50%;
  border: 2px #0078aa solid;
  margin-right: 30px;
}
.div_icon:hover{
  background-color: white;
  color:#0078aa;
}
.main-contant {
  height: 1200px;
  width: 100%;
  color: black;
  display: block;
}
.main-img {
  margin-top: 100px;
  background-image: url(../img/tools.png);
   width: 100%;
  height: 400px;
  float: left;
  background-size: cover;
  object-fit: fill; 
  display: block;
}
.main-text {
 
  margin-left: 30px;
  margin-top: 150px;
  width: 70%;
  float: left;
  
}
.main-title p {
  text-align: center;
 font-size: 25px;
 font-weight: bold;
 padding-bottom: 10px;
 
}
.main-title span{
  margin-left: 15vw;
  color: rgb(17, 97, 202);
  font-size: 13px;
}
.text-tablet{
  text-align: center;
}
.text-title {
  font-weight: bold;
  margin-top: 15px;
  
}
.text-title span{
  color: #0078aa;
  margin-right: 3px;
}

.div_icon a{
    color: white;
    text-decoration: none;
}
.div_icon a:visited {
    color:white;
   }
.div_icon a:active {
    color: white; 
   }
   
   .div_icon a:hover {
    color: #0078aa;
   }
.main-button {
  margin-top: 150px;
  width: 10%;
  float: right;
}
.position-button{
  position:fixed;
}
.block-cards {
  width: 100%;
  background-image: url(../img/services_bg.jpg);
  height: 2500px;
}
.block-card-title{
  text-align: center;
  padding-top: 60px;
}
.block-card-title p{
  font-size: 25px;
  font-weight: bold;
}
.block-card-title span{
  font-size: 13px;
}
.block-card{
  display: block;
  top:100px;
  margin-left: 10vw;
  left: 9%;
  width: 80%;
  z-index: 3;
}
.card {
  background-color: white;
  height: 350px;
}
.card-icon {
  width: 120px;
  height: 100px;
  margin-left: 30px;
  margin-top: 20px;
}
.card-title {
  margin-left: 25px;
  margin-top: 10px;
  font-weight: bold;
}
.card-text {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 3vw;
  width: 80%;
}
.offer {
  width: 100%;
  height: 950px;
  color: white;
}
.offer-title{
  text-align: center;
  padding-top: 60px;
  color: black;
}
.offer-title p{
  font-size: 25px;
  font-weight: bold;
  
}
.offer-title span{
  font-size: 13px;
 
}
.offer-card-title {
 
  padding-top: 15px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.text {
  text-align: center;
}
.text p{
  margin-top: 20px;
}
.offer-card-button {
 text-align: center;
}
.offer-button {
  height: 40px;
  width: 100px;
  border-radius: 12px;
  background-color: white;
  color: #0078aa;
  font-size: 15px;
  margin-top: 70px;
  font-weight: bold;
  border: 2px solid  #0078aa ;
}
.second-card-button{
  margin-top: 30px;
}
.third-card-button{
  margin-top: -30px;
}
.card-dollar{
  text-align: center;
  font-size:50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.card-x{
  text-align: center;
  font-size:25px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.card-treatment{
  text-align: center;
  font-style: italic;
  padding-bottom: 25px;
}
.block-offer-cards{
  display: block;
}
.offer-cards{
  width: 300px;
}
.offer-card-1 {
  margin-left: 10vw;
  float: left;
  height: 600px;
  margin-top: 30px;
  background-color: #47c9e5;
}
.offer-card-2 {
  margin-left: 10vw;
  float: left;
  height: 650px;
  margin-top: 20px;
  color:#0078aa;
  background-color: white;
  border: 2px solid  #0078aa ;
  
}
.offer-card-3 {
  margin-left: 10vw;
  float: left;
  height: 600px;
  margin-top: 20px;
  background-color: #47c9e5;
}
.appointment {
  width: 100%;
  height: 600px;
}
.appointment-img {
  width: 100%;
  float: left;
  background-image: url(../img/contact_image.jpg) ;
  height: 500px;
}
.apointment-form {
  width: 100%;
  float: left;
}
.apointment-title{
  margin-left: 30px;
  text-align: left;
  padding-top: 60px;
  color: black;
}
.apointment-title p{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  
}
.apointment-title span {
  margin-left: 10vw;
  font-size: 16px;
  font-weight: 500;
 
}
.input {
  font-style: italic;
  margin-left: 30px;
  margin-top: 35px;
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 2px;
}
.form-button {
  margin-top: 35px;
  margin-left: 30px;
}
.form-button-submit {
  height: 40px;
  width: 90px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  background-color: #0078aa;
}
.footer{
  margin-top: 1500px;
  background-color: #363636;;
  height: 50px;
}
.footer-block{
 padding-top: 20px;
}
.footer-text{
  text-align: center;
  color: white;
  
}

}


@media screen and (min-width:768px) and (max-width:1279px)
{
  .navbar {
    margin-top: 5px;
    top: 0px;
    position: fixed;
    z-index: 10;
  }
  .navbar:first-child{
   margin-left: 100px;
  }
  .navbar a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-right: 50px;
    font-weight: bold;
   
  }
  .navbar a:hover{
    color: #0078aa;
  }
  .navbar .link{
    display: flex;
    margin-top: -30px;
    margin-left: 18%;
   
  }
  .header{
    margin-top: 50px;
    
    
  }
  .header-img {
    background: url(../img/lady.jpg) no-repeat center; 
    background-size: cover;
    
   
    height: 550px;
  }
  .title{
    padding-top: 200px;
  }
  .title p{
    margin-left: 100px;
    color: black;
    font-size: 3.5vw;
    font-weight: bold;
    
  }
  .title span{
    margin-top: 20px;
    margin-left: 100px;
    color: black;
    width: 30vw;
    display: block;
    color: #a299b2;
  }
  .header-buttons {
    display: flex;
    margin-left: 100px;
    margin-top: -130px;
  }
  .icon,
.arrow_right{
  padding: 5px;
  width: 30px;
  height: 30px;
  position: relative;
  top:5px;
  left: 5px;
}
.div_icon,
.arrow_up_div{
  color: white;
  width: 50px;
  height: 50px;
  background-color: #0078aa;
  border-radius: 50%;
  border: 2px #0078aa solid;
  margin-right: 30px;
}
.div_icon:hover{
  background-color: white;
  color:#0078aa;
}
.main-contant {
  height: 900px;
  width: 100%;
  color: black;
  display: block;
}
.main-img {
  margin-top: 150px;
  background-image: url(../img/tools.png);
   width: 48%;
  height: 500px;
  float: left;
}
.main-text {
  margin-left: 30px;  
  width: 30%;
  float: left;
}
.main-title p {
 font-size: 25px;
 font-weight: bold;
 padding-bottom: 10px;
 text-align: left;
}
.main-title span{
  color: rgb(17, 97, 202);
  font-size: 13px;
}
.text-tablet{
  text-align: left;
}
.text-title {
  font-weight: bold;
  margin-top: 15px;
  text-align: left;
}
.text-title span{
  color: #0078aa;
  margin-right: 3px;
}

.div_icon a{
    color: white;
    text-decoration: none;
}
.div_icon a:visited {
    color:white;
   }
.div_icon a:active {
    color: white; 
   }
   
   .div_icon a:hover {
    color: #0078aa;
   }

.main-button {
  margin-top: 150px;
  width: 10%;
  float: right;
  

}
.position-button{
  position:fixed;
}
.block-cards {

  width: 100%;
  background-image: url(../img/services_bg.jpg);
  height: 1000px;
}
.block-card-title{
  text-align: center;
  padding-top: 60px;
}
.block-card-title p{

  font-size: 25px;
  font-weight: bold;
  
}
.block-card-title span{
  font-size: 13px;
 
}
.block-card{
 
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3vw;
  position: relative;
  top:100px;
  left: 9%;
  width: 80%;
  z-index: 3;

}

.card {
  background-color: white;
  height: 320px;

}
.card-icon {
  width: 120px;
  height: 100px;
  margin-left: 30px;
  margin-top: 20px;
}
.card-title {
  margin-left: 25px;
  margin-top: 10px;
  font-weight: bold;
}
.card-text {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 1.3vw;
  width: 80%;
}
.offer {
  width: 100%;
  height: 950px;
  color: white;
}
.offer-title{
  text-align: center;
  padding-top: 60px;
  color: black;
}
.offer-title p{
  font-size: 25px;
  font-weight: bold;
  
}
.offer-title span{
  font-size: 13px;
 
}
.offer-img {
  background: url(../img/pricing_bg.jpg) no-repeat center center;
  background-size: cover;
  object-fit: fill; 
  height: 770px;
  width: 100%;
  display: block;
 
}
.offer-card-1 {

  width: 30%;
  float: left;
  height: 600px;
  margin-top: 100px;
  background-color: #47c9e5;
}
.offer-card-title {
 
  padding-top: 15px;
  font-size: 20px;
  margin-left: 5vw;
  font-weight: bold;
}
.text {
  margin-left: 8vw;
   
}
.text p{
  margin-top: 20px;
}
.offer-card-button {
  margin-left: 8vw;
 
}
.offer-button {
  height: 40px;
  width: 100px;
  border-radius: 12px;
  background-color: white;
  color: #0078aa;
  font-size: 15px;
  margin-top: 70px;
  font-weight: bold;

  border: 2px solid  #0078aa ;
}
.second-card-button{
  margin-top: 30px;
}
.third-card-button{
  margin-top: -30px;
}
.card-dollar{
  margin-left: 7vw;
  font-size:50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.card-x{
  margin-left: 13vw;
  font-size:25px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.card-treatment{
  margin-left: 8vw;
  font-style: italic;
  padding-bottom: 25px;
}
.block-offer-cards{
  margin-left: 9%;
}
.offer-cards{
  width: 300px;
}
.offer-card-2 {
  width: 30%;
  float: left;
  height: 650px;
  margin-top: 70px;
  color:#0078aa;
  background-color: white;
  border: 2px solid  #0078aa ;
  
}
.offer-card-3 {
  width: 30%;
  float: left;
  height: 600px;
  margin-top: 100px;
  background-color: #47c9e5;
}
.appointment {
  width: 100%;
  height: 600px;
}
.appointment-img {
  width: 60%;
  float: left;
  background-image: url(../img/contact_image.jpg);
  object-fit: cover;
  height: 600px;
}
.apointment-form {
  width: 39%;
  float: left;
  margin-top: 50px;
}
.apointment-title{
  margin-left: 30px;
  text-align: left;
  padding-top: 60px;
  color: black;
}
.apointment-title p{
  font-size: 30px;
  font-weight: bold;
  
}
.apointment-title span{
  font-size: 10px;
 
}
.input {
  font-style: italic;
  margin-left: 30px;
  margin-top: 35px;
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 2px;
}
.form-button {
  margin-top: 35px;
  margin-left: 30px;
}
.form-button-submit {
  height: 40px;
  width: 90px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  background-color: #0078aa;
}
.footer{
  background-color: #363636;;
  height: 50px;
}
.footer-block{
 padding-top: 20px;
}
.footer-text{
  text-align: center;
  color: white;
  
}

}



@media screen and (min-width:1280px)
{
  .navbar {
    margin-top: 5px;
    top: 0px;
    position: fixed;
    z-index: 10;
  }
  .navbar:first-child{
   margin-left: 100px;
  }
  .navbar a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-right: 50px;
    font-weight: bold;
   
  }
  .navbar a:hover{
    color: #0078aa;
  }
  .navbar .link{
    display: flex;
    margin-top: -30px;
    margin-left: 100%;
   
  }
  .header{
    margin-top: 50px;
    
  }
  .header-img {
    background: url(../img/lady.jpg) no-repeat center center; 
    background-size: cover;
    object-fit: fill; 
    display: block;
    height: 550px;
  }
  .title{
    padding-top: 200px;
  }
  .title p{
    margin-left: 100px;
    color: black;
    font-size: 35px;
    font-weight: bold;
    
  }
  .title span{
    margin-top: 20px;
    margin-left: 100px;
    color: black;
    width: 500px;
    display: block;
    color: #a299b2;
  }
  .header-buttons {
    display: flex;
    margin-left: 100px;
    margin-top: -150px;
  }
  .icon,
.arrow_right{
  padding: 5px;
  width: 30px;
  height: 30px;
  position: relative;
  top:5px;
  left: 5px;
}
.div_icon,
.arrow_up_div{
  color: white;
  width: 50px;
  height: 50px;
  background-color: #0078aa;
  border-radius: 50%;
  border: 2px #0078aa solid;
  margin-right: 30px;
}
.div_icon:hover{
  background-color: white;
  color:#0078aa;
}
.main-contant {
  height: 700px;
  width: 100%;
  color: black;
  display: block;
}
.main-img {
  margin-top: 150px;
  background-image: url(../img/tools.png);
   width: 48%;
  height: 500px;
  float: left;
}
.main-text {
  margin-left: 20px;
  margin-top: 150px;
  width: 20%;
  float: left;
}
.main-title p {
 font-size: 25px;
 font-weight: bold;
 padding-bottom: 10px;
}
.main-title span{
  color: rgb(17, 97, 202);
  font-size: 13px;
}
.text-title {
  font-weight: bold;
  margin-top: 15px;
}
.text-title span{
  color: #0078aa;
  margin-right: 3px;
}

.div_icon a{
    color: white;
    text-decoration: none;
}
.div_icon a:visited {
    color:white;
   }
.div_icon a:active {
    color: white; 
   }
   
   .div_icon a:hover {
    color: #0078aa;
   }

.main-button {
  margin-top: 150px;
  width: 5%;
  float: right;
  

}
.position-button{
  position:fixed;
}
.block-cards {

  width: 100%;
  background-image: url(../img/services_bg.jpg);
  height: 1000px;
}
.block-card-title{
  text-align: center;
  padding-top: 60px;
}
.block-card-title p{

  font-size: 25px;
  font-weight: bold;
  
}
.block-card-title span{
  font-size: 13px;
 
}
.block-card{
 
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3vw;
  position: relative;
  top:100px;
  left: 9%;
  width: 80%;
  z-index: 3;

}

.card {
  background-color: white;
  height: 320px;

}
.card-icon {
  width: 120px;
  height: 100px;
  margin-left: 30px;
  margin-top: 20px;
}
.card-title {
  margin-left: 30px;
  margin-top: 10px;
  font-weight: bold;
}
.card-text {
  margin-top: 10px;
  margin-left: 30px;
  width: 88%;
}
.offer {
  width: 100%;
  height: 950px;
  color: white;
}
.offer-title{
  text-align: center;
  padding-top: 60px;
  color: black;
}
.offer-title p{
  font-size: 25px;
  font-weight: bold;
  
}
.offer-title span{
  font-size: 13px;
 
}
.offer-img {
  background: url(../img/pricing_bg.jpg) no-repeat center center;
  background-size: cover;
  object-fit: fill; 
  height: 770px;
  width: 100%;
  display: block;
 
}
.offer-card-1 {

  width: 25%;
  float: left;
  height: 600px;
  margin-top: 100px;
  background-color: #47c9e5;
}
.offer-card-title {
  text-align: center;
  padding-top: 15px;
  font-size: 25px;
  font-weight: bold;
}
.text {
  text-align: center;
   
}
.text p{
  margin-top: 20px;
}
.offer-card-button {
  margin-left: 35%;
 
}
.offer-button {
  height: 40px;
  width: 100px;
  border-radius: 12px;
  background-color: white;
  color: #0078aa;
  font-size: 15px;
  margin-top: 70px;
  font-weight: bold;
  border: 2px solid  #0078aa ;
}
.second-card-button{
  margin-top: 30px;
}
.third-card-button{
  margin-top: -30px;
}
.card-dollar{
  text-align: center;
  font-size:50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.card-x{
  text-align: center;
  font-size:25px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.card-treatment{
  text-align: center;
  font-style: italic;
  padding-bottom: 25px;
}
.block-offer-cards{
  margin-left: 20%;
}
.offer-cards{
  width: 300px;
}
.offer-card-2 {
  width: 25%;
  float: left;
  height: 650px;
  margin-top: 70px;
  color:#0078aa;
  background-color: white;
  border: 2px solid  #0078aa ;
  
}
.offer-card-3 {
  width: 25%;
  float: left;
  height: 600px;
  margin-top: 100px;
  background-color: #47c9e5;
}
.appointment {
  width: 100%;
  height: 600px;
}
.appointment-img {
  width: 48%;
  float: left;
  background-image: url(../img/contact_image.jpg);
  object-fit: cover;
  height: 600px;
}
.apointment-form {
  width: 48%;
  float: left;
  margin-top: 50px;
}
.apointment-title{
  margin-left: 30px;
  text-align: left;
  padding-top: 60px;
  color: black;
}
.apointment-title p{
  font-size: 30px;
  font-weight: bold;
  
}
.apointment-title span{
  font-size: 10px;
 
}
.input {
  font-style: italic;
  margin-left: 30px;
  margin-top: 35px;
  width: 95%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 2px;
}
.form-button {
  margin-top: 35px;
  margin-left: 30px;
}
.form-button-submit {
  height: 40px;
  width: 90px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  background-color: #0078aa;
}
.footer{
  background-color: #363636;;
  height: 50px;
}
.footer-block{
 padding-top: 20px;
}
.footer-text{
  text-align: center;
  color: white;
}
}
