
.div-main{
    display: grid;
}
.main-input{
    width: 500px;
    margin:5px;
    background-color: rgb(132, 235, 132);
}
.main-button{
    height: 35px;
    background-color:  rgb(132, 235, 132);
}
