@mixin h2 {
  text-align: center;
  margin-bottom: 16px;
}

@mixin game-option($bg-color, $bg-hover-color) {
  height: 48px;
  width: 100px;
  border: none;
  border-radius: 16px;
  background: $bg-color;
  color: black;
  letter-spacing: 1px;
  transition: background-color 0.2s ease;
  font: {
    weight: bolder;
    size: 1.1em;
  }

  &:hover {
    background: $bg-hover-color;
  }
}
