@import 'mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  main {
    height: 100vh;
    width: 80%;
    margin: auto;
    background: #76cdd8 url("../img/rock_paper_scissors.jpg") center no-repeat padding-box fixed;
    
    padding: 16px;

    .rules {
      width: 90%;
      margin: auto;

      h2 {
        @include h2;
      }

      .rules__list {
        background: #263852;
        border-radius: 32px;
        list-style-type: none;
        margin-bottom: 32px;
        padding: 16px 32px;

        .rule {
          color: white;
        }
      }
    }

    .game-interface {
      width: 90%;
      margin: auto;

      h2 {
        @include h2;
      }

      .game-interface__controls {
        width: max-content;
        margin: auto;
        margin-bottom: 16px;

        .game-interface__option {
          @include game-option($bg-color: greenyellow, $bg-hover-color: #86c725);
        }

        .game-interface__reset {
          @include game-option($bg-color: red, $bg-hover-color: #c90000);
        }
      }

      .game-interface__log {
        display: none;
        background: #282c34;
        color: white;
        padding: 16px;
        border-radius: 16px;

        .game-interface__log-item {
          padding: 5px;
        }

        h3 {
          margin: auto;
          margin-top: 24px;
          padding: 10px;
          background: blue;
          width: max-content;
          border-radius: 8px;
        }
      }
    }
  }
}
