﻿* {
  outline: none;
}

body {
  font-family: "Ubuntu", sans-serif;
}
.navbar-bg-img {
  position: relative;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
}

.header-title {
  text-align: center;
  color: white;
  padding-top: 12%;
}
.header-title h1 {
  font-size: 70px;
}
.header-title h3 {
  font-size: 50px;
}
.bg-navbar {
  background-image: url(../img/header-bg.jpg);
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 40px;
  border: none;
}
.navbar-logo {
  font-size: 35px;
  font-weight: bold;
}
li {
  margin-left: 80px;
}
li a {
  font-size: 20px;
}
.main-cotent-title {
  margin-top: 40px;
  text-align: center;
}
.main-cotent-title h1 {
  font-weight: bold;
}
u {
  color: #6c757d;
  padding-bottom: 10px;
  text-decoration: none;
  border-bottom: 3px solid #060708;
}
.main-card {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
.card {
  border: none;
}
.card-w {
  width: 14rem;
}
.card-text-t {
  width: 300px;
  margin-left: -50px;
}
.card-title-t {
  color: #787878;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.block-card-btn {
  text-align: center;
  margin-top: 40px;
}
.block-card-btn button {
  width: 298px;
  height: 50px;
  border-radius: 35px;
  background-image: url(../img/touch-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-bottom: 70px;
}
.works {
  background-color: #ebebeb;
  height: 1700px;
}

.works-title {
  padding-top: 40px;
  text-align: center;
}
.con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.works-grid {
  margin: 55px;
}
.block-1 {
  background-image: url(../img/work-img-01.jpg);
  height: 450px;
  width: 450px;
}
.block-2 {
  background-image: url(../img/work-img-02.jpg);
  height: 450px;
  width: 450px;
}
.block-3 {
  background-image: url(../img/work-img-03.jpg);
  height: 965px;
  width: 450px;
}
.block-4 {
  background-image: url(../img/work-img-04.jpg);
  height: 450px;
  width: 450px;
  margin-top: -450px;
}
.block-5 {
  background-image: url(../img/work-img-06.jpg);
  height: 965px;
  width: 450px;
  margin-top: -450px;
}
.bl {
  padding: 20px;
}

.block-7 {
  background-image: url(../img/work-img-05.jpg);
  height: 450px;
  width: 450px;
  margin-top: 65px;
}

.block-9 {
  background-image: url(../img/work-img-07.jpg);
  height: 450px;
  width: 450px;
  margin-top: -452px;
}
.references {
  height: 700px;
}
.references-title {
  padding-top: 40px;
  text-align: center;
}
.carousel-img {
  margin: 40px;
  margin-left: 300px;
}
.card-body-t {
  margin-top: 200px;
  width: 350px;
  margin-left: 250px;
}
.card-title {
  font-weight: bold;
  font-size: 35px;
  margin-left: 10px;
}
.card-text {
  margin-left: 10px;
}
.carousel-img-1 {
  margin-top: -300px;
  margin-left: 270px;
  height: 250px;
}
.carousel-control-prev {
  background-color: white;
  border: none;
}
.carousel-control-next {
  background-color: white;
  border: none;
}
.carousel-indicators{
  justify-content: center;
}

.contact {
  background-color: black;
  height: 500px;
}
.contact-u {
  color: white;
  padding-bottom: 10px;
  text-decoration: none;
  border-bottom: 3px solid rgb(77, 76, 76);
}

.contact-title {
  padding-top: 100px;
  text-align: center;
}

.contact-form {
  margin-top: 80px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}
.form-message {
  margin-top: 40px;
}
.form-inp {
  color: #b2b2b2;
  background-color: black;
  border-top: white;
  border-left: white;
  border-right: white;
}
.form-btn {
  margin-top: 40px;
  background-color: #202020;
  color: white;
  font-size: 15px;
  height: 60px;
  width: 200px;
  margin-left: 41%;
}
.footer {
  height: 250px;
  background-image: url(../img/footer-bg.jpg);
}
.ft-container {
  padding-top: 100px;
  color: white;
}
.ft-icon-mail {
  height: 20px;
  width: 25px;
  margin-right: 10px;
}
.ft-icon{
  height: 20px;
  width: 20px;
  margin-right: 40px;
}
.ft-pos-icon-mail {
  margin-top: 10px;
}
.ft-logo{
  margin-top: 15px;
}
.ft-text-icon{
  font-size: 10px;
  margin-top: 5px;
  color:rgb(172, 170, 170);
  float: right;
  margin-right: 35px;
}
