
body{
    Font-family: ‘Roboto’
}
footer{
    background-color: #343a40;
    color: white;
}
.footer-btn{
background-color: coral;
}
@media (max-width:768px){

    .header-button{
        background-color: coral;
        border-color: lightcoral;
        color: white;
      }
      .game-section{
          background-color:#343a40 ;
          color: white;
      }
      .game-section-card{
          color: black;
          border:0;
      }
}


@media (min-width:769px) and (max-width:991px){
    
    .header-button{
        background-color: coral;
        border-color: lightcoral;
        color: white;
      }
      .game-section{
          background-color:#343a40 ;
          color: white;
      }
      .game-section-card{
          color: black;
          border: none;
      }
}
@media (min-width:992px){
    .header-button{
      background-color: coral;
      border-color: lightcoral;
      color: white;
    }
    .game-section{
        background-color:#343a40 ;
        color: white;
    }
    .game-section-card{
        color: black;
        border: none;
    }

}