.country {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .country td, .country th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .country tr:nth-child(even){background-color: #f2f2f2;}
  
  .countrytr:hover {background-color: #ddd;}
  
  .country th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .search{
    text-align: center;
    display:block;
    
}
.search-item{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 40%;
}
.country{
  display: inline-block;
}
