/* START: Task 1 Styles */
table{
    border: 2px solid black;
}
.row{
    padding: 10px;
    background-color: white;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
input{
    border-color: black;
    margin-top: 10px;
    width: 300px;
    margin-right: 30px;
    padding:5px;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
#field{
    background: url(../homework/assets/court.png) no-repeat center center;
    background-size: cover;
    object-fit: fill; 
    height: 330px;
    width: 600px;
}
#ball{
    background: url(../homework/assets/ball.png) no-repeat center center;
    background-size: cover;
    object-fit: fill; 
    height: 40px;
    width: 40px;
    position:relative;
    left: 280px;
    top: 145px;
    transition: left .5s ease-in, top .5s ease-in;
}
.scoreArea{
    width: 15px;
    height: 15px;
}
#aScoreArea{
    position: relative;
    top: 117px;
    left: 558px;
}
#bScoreArea{
    position: relative;
    top: 103px;
    left: 25px;
}
#aTeam{
    position:relative;
    top: 255px;
}
#bTeam{
    position:relative;
    top: 237px;
    left: 530px;
}
/* END: Task 3 Styles */
