$general-font:  'Source Sans Pro', sans-serif;
@mixin back-color($prop){
    color: $prop;
}
@mixin button($width, $height, $bg-col, $col, $bor-rad, $bor){
    width:$width;
    height: $height;
    background-color:$bg-col;
    color: $col;
    border-radius:$bor-rad;
    border: $bor;
}
.header {
    font-family: $additional-font;
    height: 600px;
    background: $background-image no-repeat center;
    border-bottom-right-radius: 50%;
    background-size: cover;
    object-fit: fill;
    img{
        margin-top: 25px;
    }
    .landing-logo p{
        font-size: 25px;
        position: absolute;
        top: 0px;
        left: 150px;
        font-weight: bold;
        line-height: 20px;
        span{
            font-size: 13px;
            text-align: center;
            font-weight: normal;
        }
        span::before{
            content: '';
            display: block;
          
        }
    }
    .header-wrap {
        margin-left: 80px;
        .header_heading{
        font-family: $general-font;
        color: $font-color;
        font-size: 60px;
        width: 450px;
        font-weight:bolder;
        z-index: 1;
        position: relative;
        } 
        .header_heading:before{
            background-color:$background-font;
            content: '';
            position: absolute;     
            bottom: 0px;
            left: 0px;
            width: 250px;
            height: 55px;
            z-index: -2;
        }
        .header_text{
            top: 0px;
            white-space: pre;
            margin-top: -40px;
            margin-left: -35px;
        }
        .header_button{
            @include button(120px, 40px, $button-color, white, 2px, none);
            font-family: $general-font;
            font-size: 18px;
            
        }
        .login{
            @include back-color(white);
            margin-left: 200px;
            font-family: $general-font;
        }
    }
}
main{
    margin: 0 auto;
    width: 960px;
    .section_text{
        text-align: center;
        font-weight: bold;
        font-size: 45px;
        z-index: 10;
        position: relative;
    }
    .section_text::before{
        background-color:$background-font;
        content: '';
        position: absolute;
        bottom: 5px;
        left: 487px;
        width: 210px;
        height: 45px;
        z-index: -2;
    }
    .section_card_wrap{
        position: relative;
        color: rgb(206, 206, 206);
        border-radius: 2px;
        .section_card{
            background-color: $main-color;
            display: flex;
            margin: 10px 0px;
            padding: 10px;
            border-radius: 2px;
            position: relative;
            .section_card_img{
                border-radius: 2px;
                height: 200px;
            }
            .section_card_right_container{
                .section_card_heading{
                    color: white;
                    font-size: 25px;
                    position: absolute;
                    top: 0px; 
                    left: 550px;
                }
                .section_card_text{
                    font-family: $additional-font;
                    margin-left: -25px;
                    width: 450px;
                    display: block;
                    position: absolute;
                    top: 60px; 
                    left: 450px;
                }
                .section_link{
                    @include back-color(rgb(206, 206, 206));
                    position: absolute;
                    top: 180px; 
                    left: 600px;
                }
            }
        }
    }
    .section_banner{
        background: linear-gradient( 40deg, $button-color, $button-color2);
        display: block;
        border-radius: 2px;
        margin-top: 120px;
        position: relative;
        height: 150px;
        margin-bottom: -50px;
        z-index: 10;
        position: relative;
        .section_banner_heading{
            font-size: 25px;
            font-weight: bold;
            position: absolute;
            left: 150px;
        }
.section_banner_heading:before{
            content: '';
            position: absolute;
            bottom: 5px;
            left: 100px;
            width: 56px;
            height: 30px;
            background-color:$background-font;
            z-index: -2;
        }
        .section_banner_text{
            color: $footer-font;
            font-family: $additional-font;
            position: absolute;
            top: 60px;
            left: 150px;
        }
        .section_banner_button{
            position: absolute;
            @include button(120px, 40px, $button-color, white, 2px, none);
            top: 50px;
            left: 750px;
        }
    }
}
body{
    margin: auto 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: $font-color;
    background-color: $background-color;
}
.footer{
    font-family: $additional-font;
    .footer-wrap{
        background-color: $main-color;
        color: $footer-font;
        display: flex;
        height: 250px;
        .landing-logo {
            img{
                margin-top: 30px;
                position: relative;
                top:100px;
                left: 150px;
            }
            p{
                margin-left: 200px;
                margin-top: 50px;
                font-size: 25px;
                font-weight: bold;
                line-height: 20px;
                span{
                    font-size: 13px;
                    margin-left: 10px;
                    font-weight: normal;
                }
                span::before{
                    content: ' ';
                    display: block;
                    height: 0px;
                }
            }
        }
        .footer_text{
            width: 300px;
            margin-left: 20%;
            margin-top: 120px;
        }
        .footer-cr{
            margin-left: 20%;
            margin-top: 120px;
        }
    }
}