$background-color: white;
$background-image: url(../img/m-h-day.jpg);
$button-color: #699900;
$font-color: #2c2f3c;
$button-color2: #305ece;
$background-font:#159FC7;
$main-color: #21232e;
$footer-font: #7384b9;
$additional-font: 'Hind', sans-serif;
