$background-color: #21232e;
$background-image: url(../img/m-h-night.jpg);
$button-color:#e3ac00;
$font-color: white;
$button-color2:#99364c;
$background-font:#ff4e33;
$main-color: #3b3f50;
$footer-font:#c8d1c9;
$additional-font: 'Fresca', sans-serif;