
.header {
  background-image: url(../img/m-h-day.jpg);
  font-family: 'Source Sans Pro', sans-serif; }

.header_button {
  background-color: #23d123;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  color: white; }
  

body {
  background: #fff; }

main {
  margin: 0 auto;
  width: 960px; }

/*# sourceMappingURL=style1.css.map */