@media not print{
.mandatory-field:after{
        content:"*"; 
        color: red;
        display:inline; 
}
.submit-btn{
   background-color: white;
   color: #87CEFA;
   float: right;
}
.submit-btn:hover{
      
    background-color:#87CEFA;
    color:white;
}
.container .tm-main-content .tm-content-header .tm-banner .tm-banner-inner .tm-banner-text::first-letter{
    color: #666;
    font-size: 25px;
}
.tm-main-nav .tm-nav-item:hover{
    background-color:lightgray;
}

    .container .tm-main-content section .flex-2-col .flex-item .tm-section-description{
        width: 250px;
        float: left;
        
    }
    img[src="img/epam-mexico.jpg"]{
        float: right;
        height: 700px;
        width: 600px;
        margin-top: -413px;
    }
.container .tm-main-content section .flex-2-col .flex-item .tm-section-title{
        margin-top: 200px;
    }
    div p::first-letter{
        font-size: 50px;
       color:lightskyblue;
       margin-left: 20px;
   }
   
    ul.hover li:hover{
        background: #87CEFA;
        color: white;
        text-align: center;
    }
    .blocks .tm-content-box .boxes .box{
        border: white;
        border-width: 5px;
    }

    p::first-letter{
        color:#87CEFA;
        font-size: 30px;
    }
    div.tm-sidebar {
        border: gray;
        box-shadow: 0px 0px 5px 5px rgba(36, 35, 35, 0.15);  
    }
    div.print-banner{
        box-shadow: 0px 0px 5px 5px rgba(36, 35, 35, 0.15); 
    }
    
    section{
        box-shadow: 0px 0px 5px 5px rgba(36, 35, 35, 0.15); 
    }
    div.ddd h2{
        color:gainsboro;
        letter-spacing: 5px;
    }
    
    h2:first-child + p {
        font-style: italic;
    }

    section::before{
        content: '';
        left: 395px;
        width: 0; 
        border-top: 30px solid #87CEFA; 
        border-right: 200px solid transparent;
        position: absolute;
    }
    .blocks .tm-content-box .gallery-container .box-work:nth-child(even){
        background-color: rgb(240, 240, 240);
    }
    .blocks .tm-content-box .gallery-container .box-work{
        padding: 5px;
    }
    ol a{
        text-decoration: none;
        color: gray;
    }
    ol  a:visited{
        text-decoration: underline;
        text-decoration-style: solid;
    }
    ol a:hover{
        text-decoration: underline;
        text-decoration-style:double;
        color:var(--mainCol);
    }
    .text:hover{
        text-decoration: none;
    }
    .text::after{
        content:"new";
        color: red;
        font-size: 10px;
        vertical-align: super;
    }
}
@media print {
   
   nav {
        display: none;
    }
    .img-fluid{
        display: none;
    }
    #contact{
        display: none;
    }
    #about  {
        display: none;
    }
    #ideas{
        display: none;
    }
    .heading{
        display: none;
    }
    .blocks{
        display: none;
    }
    .tm-content-box .tm-team-description-container .tm-section-title{
        color: blue;
    }

    .container .tm-main-content section .flex-2-col .flex-item .tm-section-description::first-letter{
        color: blue;
    }
    
    .flex-2-col .flex-item .tm-section-description:not(:last-child){
            font-style: italic;
        }
        .container .tm-main-content section .flex-2-col .flex-item .tm-section-description{
            width: 250px;
            float: left;
        }
        img[src="img/epam-mexico.jpg"]{
            float: right;
            height: 200px;
            width: 200px;
            margin-top: -300px;
        }
    .container .tm-main-content section .flex-2-col .flex-item .tm-section-title{
            margin-top: 200px;
        }   
    div p::first-letter{
         font-size: 50px;
        color:lightskyblue;
        margin-left: 20px;
    }
}

