body {
  padding: 0;
  margin: 0 0 5vh;
  font-weight: 900;
  font-size: 25px;
}
.calendar {
  margin-top: 50px;
  margin-left: 15%;
}
.days-of-week-container,
.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 150px);
  text-align: center;
}
.calendar-container {
  margin-top: 20px;
}
div button {
  border: none;
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: #eaeaea;
}
div button:hover {
  background-color: #e4e4e4;
}
.title {
  height: 70px;
  margin: 10px;
  text-align: center;
  background-color: black;
}
.title p {
  color: white;
  font-size: 50px;
}
.old-month button {
  border: 1px solid lightgray;
  background-color: white;
}
