*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.header {
    background-image: url("../img/apples.jpg");
    background-repeat: no-repeat;
    max-width:100%;
    height: 700px;
   
  
}
.Navbar a{
    color: white;
    text-decoration: none;
}
.Navbar a:visited {
    color:white;
   }
.Navbar a:active {
    color: white; 
   }
.Navbar {
 margin-top: 15px;
 float: right;
 display: inline;
 color: white;
}
.Navbar a{
    
    margin-right: 50px;
}
.nav-logo{
    margin-top: 15px;
    float: left;
    color: white;
}
.header-wrap{
    margin-left: 80px;
}
.title {
    padding-top: 18%;
    width: 100%;
    color: white;
    font-size: 55px;
    text-align: center;
}
.title span{
    margin-top: 15px;
    font-size: 20px;
    display: block;
}
.title button {
    margin-top: 220px;
    width: 200px;
    height: 50px;
    color: white;
    border: 2px solid white;
    background:rgba(0,0,0,0.5);
}


body{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    height: 100%;
}
.context{
margin: 120px 50px 120px 50px;
padding-bottom: 100px;
}
.first-content {
    width: 48%;
float: left;
font-size: 20px;
}
.second-content {
    width: 48%;
float: right;
}
.cards-background{
    background-color: #f3f3f3;
}
.cards{

    padding-top: 50px;
    width: 100%;
    height: 1750px;
    
}
.cards-title{
    font-size:25px;
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
}
.wrap {
    position:relative;
    margin-left: 50px;
}
.img-left{
    width: 100%;
}
.wrap button{
    position:absolute;
    color: white;
    background:rgba(68, 63, 63, 0.9);
    border: 2px solid white;
    
    left:680px;
    top:30px;
    bottom:15px;
    width: 50px;
    height: 25px;
}
.card{
    display: flex;
    margin-bottom: 15px;
}
.card-text{
   text-align:center;
   font-size: 13px;
   margin-left: 50px;
   margin-top: 8%;
   width: 40%;
}
.section-email{ 
     padding-bottom: 50px;
     margin: 45px;

     background-color: white;
}
.section-email-el{
    padding-top: 50px;
    margin-left: 30px;
   
}
.section-label {
 font-size: 20px;
}
.section-input {
 border: 2px solid gray;
 background-color: #F3F3F3;
 padding-left: 10px;
 width: 72%;
 height: 50px;
}
.section-button {
    width:100px;
    height: 50px;
    background-color: #343638;
    color: white;
    margin-left: -6px;
}
.footer{
    margin-top: 10px;
    height: 370px;
}
.footer-blocks{
    margin-left: 50px;
    margin-right: 50px;
}
.footer-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 10px;
}
.text-block{
    color: #ab9eab;
    margin-bottom: 100px;
}
.text-black-white {
   
    width: 20%;
    float:left;
    margin-left: 50px;
  
}
.text-last-tweet {
    width: 20%;
    float:left;
    margin-left: 50px;
}
.text-contact {
    width: 20%;
    float:left;
    margin-left: 50px;
  
}
.text-newsletter {
    width: 20%;
    float:left;
    margin-left: 50px;
}
.footer-input{
    border: 2px solid gray;
    background-color: #F3F3F3;
    padding-left: 10px;
    width: 72%;
    height:30px;
    font-size: 11px;
}
.footer-button {
    font-size: 10px;
    width:50px;
    height: 29px;
    background-color: #343638;
    color: white;
    margin-left: -5px;
}
.hr{
    margin-left: 50px;
    width:93%;
    color:#F3F3F3;
}
.footer-navbar{
  
    float: right;
    display: inline;
    color: black; 
}
.footer-navbar a{
    color: black;
    text-decoration: none;
}
.footer-navbar a:visited {
    color:black;
   }
.footer-navbar a:active {
    color: black; 
   }
.footer-navbar {
 margin-top: -20px;
 float: right;
 display: inline;
 color: black;
}
.footer-navbar a{
    
    margin-right: 50px;
}
.footer-link{
    display: inline;
}
.copyright{
    margin-left: 50px;
    margin-top: 20px;
    color: #ab9eab;
}
