body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #f4f4f4;
}
.main {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  background-color: white;
}
.container-1 {
  display: flex;
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
}
.container-1 div {
  padding: 10px;
}
.box {
  flex-basis: 48%;
  height: 500px;
}
div.btn-hov :hover{
  background-color: rgb(118, 205, 216);
  color: white;
}
.box :hover ::before {
  color: #019999;
  content: "";
  top: 30px;
  border-top: 30px solid #76cdd8;
  border-right: 200px solid transparent;
  position: absolute;
}
.box :hover {
  color: #019999;
}

.item-1 {
  background-color: #76cdd8;
  color: white;
}

.item-1 h1 {
  text-align: center;
  font-size: 75px;
  margin-top: 25%;
}
.item-2 {
  display: block;
}
.item-2-container {
  text-align: left;
  margin: 30px;
  font-size: 28px;
}
.item-3 p {
  font-size: 20px;
}
.item-3-container {
  text-align: left;
  margin: 30px;
}
.item-3 h1 {
  color: #76cdd8;
}
.item-3 button {
  background-color: #019999;
  float: right;
  margin-right: 20px;
  font-size: 20px;
  height: 70px;
  width: 200px;
  color: white;
}
.item-4 {
  background-color: #76cdd8;
  color: white;
}
.item-4-container {
  text-align: center;
  margin: 30px;
}
.img-epic {
  border-radius: 50%;
  width: 60%;
  height: 300px;
}
.item-5 {
  
  background-image: url(../img/image-01.jpg);
}
.z{
  transition: transform .2s;
}
.z:hover{
  transform: scale(1.05);
}
.z1{
  transition: transform .2s;
}
.z1:hover{
  border-color: #24d4d4; 
  box-shadow: 0 0 0 0.2rem #24d4d4;
  transform: scale(1.15);
}
.z1:hover button{
  background: #24d4d4;
}
.card-discount:hover{
  display: block;
}
.card-discount{
  display: none;
}
.card-discount span{
color:red;
}
.item-6 h1 {
  text-align: left;
}
.item-6 p {
  font-size: 20px;
  text-align: left;
}
.item-6-container {
  text-align: center;
  margin: 30px;
}
.item-6 button {
  background-color: #019999;
  margin-right: 20px;
  font-size: 20px;
  height: 70px;
  width: 200px;
  color: white;
}

.container-2 {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  background-color: white;
}
.item-1-con-2 {
  flex: 2;
}
.item-1-con-2 h1 {
  color: #76cdd8;
  float: left;
}

.item-1-con-2 button {
  margin-top: 3%;
  background-color: #019999;
  margin-right: 20px;
  font-size: 20px;
  height: 70px;
  width: 200px;
  color: white;
  float: right;
}
.item-1-con-2 p {
  float: left;
  font-size: 25px;
}
.item-2-con-2 {
  flex: 1;
  background-image: url(../img/image-02.jpg);
}
.box1 {
  height: 700px;
}
.item-1-con-2-container {
  margin: 40px;
}

.container-3 {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  background-color: white;
}
.item-1-con-3 {
  background-image: url(../img/image-03.jpg);
}
.box2 {
  flex-basis: 33%;
  height: 520px;
}
.item-2-con-3-container {
  margin: 30px;
}
.card-head {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 15px;
  background-color: #019999;
  height: 100px;
}
.card-head h2 {
  padding-top: 15px;
  font-weight: 200;
}
.card-head p {
  margin-bottom: 10px;
  font-weight: 200;
}

.card-body {
  border: 3px;
  border: solid;
  border-color: #019999;
}
.card-body p {
  margin-left: 25px;
}
.card-btn {
  text-align: center;
}
.card-btn button {
  background-color: #019999;
  margin-right: 20px;
  font-size: 20px;
  height: 60px;
  width: 180px;
  color: white;
}

.container-4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  background-color: white;
  position: relative;
}
.item-1-con-4 {
  background-color: #23d4d4;
  height: 180px;
}
.item-1-con-4 h2 {
  color: white;
  margin-left: 10%;
}
.item-2-con-4 {
  position: absolute;
  top: 70px;
  width: 80%;
  height: 500px;
  margin-left: 10%;
  background-color: white;
  left: 0;
}
.item-3-con-4 {
  margin-top: 300px;
  background-color: #019999;
  height: 300px;
}

.form-container {
  margin: 30px;
}
.form-input-text {
  width: 400px;
  height: 40px;
  margin-top: 10px;
}
.form-item-1 {
  width: 300px;

  float: left;
}
.form-item-2 {
  float: right;
  margin-left: 100px;
}
.form-datalist {
  width: 400px;
  height: 40px;
  margin-top: 10px;
}
.form-area {
  margin-top: 10px;
  height: 150px;
  width: 350px;
}
.form-area:hover {
  border-color: #24d4d4; 
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.item-3-con-4-container {
  display: flex;
  color: white;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
}
.col-1 {
  width: 300px;
}
.col-2 {
  margin-left: 150px;
  width: 300px;
}
.form-btn {
  padding-top: 250px;
  text-align: center;
}
.form-btn button {
  background-color: #019999;
  margin-right: 20px;
  font-size: 20px;
  height: 60px;
  width: 180px;
  color: white;
}
.footer{
  text-align: center;
  color: grey;
}
