.header {
  font-family: "Hind", sans-serif;
  height: 600px;
  background: url(../img/m-h-day.jpg) no-repeat center;
  border-bottom-right-radius: 50%;
  background-size: cover;
  object-fit: fill; }
  .header img {
    margin-top: 25px; }
  .header .landing-logo p {
    font-size: 25px;
    position: absolute;
    top: 0px;
    left: 150px;
    font-weight: bold;
    line-height: 20px; }
    .header .landing-logo p span {
      font-size: 13px;
      text-align: center;
      font-weight: normal; }
    .header .landing-logo p span::before {
      content: '';
      display: block; }
  .header .header-wrap {
    margin-left: 80px; }
    .header .header-wrap .header_heading {
      font-family: "Source Sans Pro", sans-serif;
      color: #2c2f3c;
      font-size: 60px;
      width: 450px;
      font-weight: bolder;
      z-index: 1;
      position: relative; }
    .header .header-wrap .header_heading:before {
      background-color: #159FC7;
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 250px;
      height: 55px;
      z-index: -2; }
    .header .header-wrap .header_text {
      top: 0px;
      white-space: pre;
      margin-top: -40px;
      margin-left: -35px; }
    .header .header-wrap .header_button {
      width: 120px;
      height: 40px;
      background-color: #699900;
      color: white;
      border-radius: 2px;
      border: none;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px; }
    .header .header-wrap .login {
      color: white;
      margin-left: 200px;
      font-family: "Source Sans Pro", sans-serif; }

main {
  margin: 0 auto;
  width: 960px; }
  main .section_text {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    z-index: 10;
    position: relative; }
  main .section_text::before {
    background-color: #159FC7;
    content: '';
    position: absolute;
    bottom: 5px;
    left: 487px;
    width: 210px;
    height: 45px;
    z-index: -2; }
  main .section_card_wrap {
    position: relative;
    color: #cecece;
    border-radius: 2px; }
    main .section_card_wrap .section_card {
      background-color: #21232e;
      display: flex;
      margin: 10px 0px;
      padding: 10px;
      border-radius: 2px;
      position: relative; }
      main .section_card_wrap .section_card .section_card_img {
        border-radius: 2px;
        height: 200px; }
      main .section_card_wrap .section_card .section_card_right_container .section_card_heading {
        color: white;
        font-size: 25px;
        position: absolute;
        top: 0px;
        left: 550px; }
      main .section_card_wrap .section_card .section_card_right_container .section_card_text {
        font-family: "Hind", sans-serif;
        margin-left: -25px;
        width: 450px;
        display: block;
        position: absolute;
        top: 60px;
        left: 450px; }
      main .section_card_wrap .section_card .section_card_right_container .section_link {
        color: #cecece;
        position: absolute;
        top: 180px;
        left: 600px; }
  main .section_banner {
    background: linear-gradient(40deg, #699900, #305ece);
    display: block;
    border-radius: 2px;
    margin-top: 120px;
    position: relative;
    height: 150px;
    margin-bottom: -50px;
    z-index: 10;
    position: relative; }
    main .section_banner .section_banner_heading {
      font-size: 25px;
      font-weight: bold;
      position: absolute;
      left: 150px; }
    main .section_banner .section_banner_heading:before {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 100px;
      width: 56px;
      height: 30px;
      background-color: #159FC7;
      z-index: -2; }
    main .section_banner .section_banner_text {
      color: #7384b9;
      font-family: "Hind", sans-serif;
      position: absolute;
      top: 60px;
      left: 150px; }
    main .section_banner .section_banner_button {
      position: absolute;
      width: 120px;
      height: 40px;
      background-color: #699900;
      color: white;
      border-radius: 2px;
      border: none;
      top: 50px;
      left: 750px; }

body {
  margin: auto 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #2c2f3c;
  background-color: white; }

.footer {
  font-family: "Hind", sans-serif; }
  .footer .footer-wrap {
    background-color: #21232e;
    color: #7384b9;
    display: flex;
    height: 250px; }
    .footer .footer-wrap .landing-logo img {
      margin-top: 30px;
      position: relative;
      top: 100px;
      left: 150px; }
    .footer .footer-wrap .landing-logo p {
      margin-left: 200px;
      margin-top: 50px;
      font-size: 25px;
      font-weight: bold;
      line-height: 20px; }
      .footer .footer-wrap .landing-logo p span {
        font-size: 13px;
        margin-left: 10px;
        font-weight: normal; }
      .footer .footer-wrap .landing-logo p span::before {
        content: ' ';
        display: block;
        height: 0px; }
    .footer .footer-wrap .footer_text {
      width: 300px;
      margin-left: 20%;
      margin-top: 120px; }
    .footer .footer-wrap .footer-cr {
      margin-left: 20%;
      margin-top: 120px; }
